In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('movies_metadata.csv', low_memory=False)

In [3]:
data.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45466 entries, 0 to 45465
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  45466 non-null  object
 1   belongs_to_collection  4494 non-null   object
 2   budget                 45466 non-null  object
 3   genres                 45466 non-null  object
 4   homepage               7782 non-null   object
 5   id                     45466 non-null  object
 6   imdb_id                45449 non-null  object
 7   original_language      45455 non-null  object
 8   original_title         45466 non-null  object
 9   overview               44512 non-null  object
 10  popularity             45461 non-null  object
 11  poster_path            45080 non-null  object
 12  production_companies   45463 non-null  object
 13  production_countries   45463 non-null  object
 14  release_date           45379 non-null  object
 15  revenue                45460 non-null  float64
 16  runtime                45203 non-null  float64
 17  spoken_languages       45460 non-null  object
 18  status                 45379 non-null  object
 19  tagline                20412 non-null  object
 20  title                  45460 non-null  object
 21  video                  45460 non-null  object
 22  vote_average           45460 non-null  float64
 23  vote_count             45460 non-null  float64
dtypes: float64(4), object(20)
memory usage: 8.3+ MB

In [5]:
vote_mean = data["vote_count"].mean()

In [6]:
print(vote_mean)

109.89733831940167

In [7]:
minvote = data["vote_count"].quantile(0.90)
print (minvote)

160.0

In [8]:
q_movies = data.copy().loc[data['vote_count']>= minvote]
q_movies.shape

(4555, 24)

In [12]:
def weighted_rating(x,minvote=minvote, vote_mean=vote_mean):
  voters = x['vote_count']
  avg_vote = x["vote_average"]
  return(voters/(voters+minvote)*avg_vote) + (minvote/(minvote+voters)* vote_mean)

In [13]:
q_movies['score'] = q_movies.apply(weighted_rating, axis=1)

In [14]:
q_movies = q_movies.sort_values('score',ascending=False)

In [15]:
pd.set_option('precision',2)

In [16]:
q_movies[['title','vote_count','vote_average','score']].head(20)

                              title  vote_count  vote_average  score
40485                       Divines       161.0           8.1  58.84
2728           Black Cat, White Cat       160.0           7.7  58.80
23679                   Life Itself       160.0           7.7  58.80
31908                   Cartel Land       160.0           7.4  58.65
4874                      The Party       160.0           7.3  58.60
6628          Judgment at Nuremberg       161.0           7.6  58.59
43165          The Zookeeper's Wife       160.0           7.1  58.50
35507      Boruto: Naruto the Movie       162.0           7.7  58.48
990    20,000 Leagues Under the Sea       160.0           6.9  58.40
20979                      The Past       161.0           7.1  58.34
8875                The Quiet Earth       160.0           6.7  58.30
2617                  Jules and Jim       163.0           7.6  58.27
43296       Resident Evil: Vendetta       160.0           6.6  58.25
2069                         Frenzy       162.0           7.2  58.23
922                    East of Eden       163.0           7.5  58.22
43575   Baahubali 2: The Conclusion       161.0           6.7  58.14
12272    Wristcutters: A Love Story       161.0           6.7  58.14
874                      Funny Face       162.0           7.0  58.13
14428                         Keith       162.0           7.0  58.13
2981                    The Natural       162.0           7.0  58.13